*{
    margin: 0;
    padding: 0;
    
}
body{
    background: black;
 
   
}
.main{
  


    
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/8728e059-7686-4d2d-a67a-84872bd71025/e90516bd-6925-4341-a6cf-0b9f3d0c140a/IN-en-20240708-POP_SIGNUP_TWO_WEEKS-perspective_WEB_34324b52-d094-482b-8c2a-708dc64c9065_large.jpg");
    height: 650px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}
.main .box1{
    position: absolute;
    height: 650px;
    width: 100%;
    top: 0;
    opacity: .7;
    background-color: black;
}
nav{
    position: relative;
    z-index: 1;
    height: 100px;
    width: 77vw;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.logo{
    height: 38px;

}
.btn-sn{
    border: 0;
    font-weight: 400;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    padding: 7px 20px;
    color: white;
    background-color: red;
    border-radius: 5px;
   
}

.lang{
    border-radius: 4px;
    padding: 5px 20px;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
}
.line{
    position: relative;
   
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px);
    flex-direction: column;
}
.line1{
    font-weight: 900;
    font-size: 48px;   
}
.line2{
    padding: 23px;
    font-weight: 400;
    font-size: 24px;   
}
.line3{
    font-weight: 400;
    font-size: 20px;   
}
.button{
    border: 0;
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px ;  
}
.mailbox{
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(248, 243, 243, 0.021);
    padding: 20px 175px 15px 20px;
    
}
.gs-btn{
    border: 0;
    padding: 12px 30px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background-color: red;
    border-radius: 4px;
    
}
.seperate{
    height: 8px;
    background-color: rgb(35,35,35);
   position: relative;
   z-index: 1;

}
.first-sec, .second-sec, .third-sec, .fourth-sec{


   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77vw;
    margin: auto;
    height: 555px;
    
}
.sec-txt-1{

    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: white;
   
    font-weight: bold;
}
.sec-txt-2{
    font-weight: 400;
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: white;
    padding-top: 20px;
}
.tv{
    position: relative;
    
}
.tv-img{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 550px;
    z-index: 1;
}
.tv-vid{
   
    width: 400px;
    position: absolute;
    top: 87px;
    left: 72px;
}





.tv2{
    
    position: relative;
}
.tv2-img{
    position: relative;
    z-index: 1;
}
.tv2-vid{
    position: absolute;
    width: 400px;
    left: 110px;
    top: 40px;
}



.faq{
    text-align: center;
    color: white;
    padding: 50px;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
}

.faq .sec-txt-1{
    padding-bottom: 20px;
}


.faq .button {
    padding-bottom: 30px;
}




.faqbox {
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 23px;
    width: 73vw;
    margin: 10px auto;
    cursor: pointer;
}
.drop-btn{
    filter: invert();
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

a, .question, .nf{
    color: rgba(255, 255, 255, 0.7);
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    font-weight: 400;
    font-size: 14px;
   
}

footer .question {
    padding: 34px 0;
    font-size: 15px;
    
}

.footer-item{
    display: grid;
    padding: 6px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

footer .lang{
    margin: 20px;
    margin-left: 0px;
}

footer{
   
    width: 77vw;
    margin: auto;
    padding: 35px;
}
.nf{
    margin-bottom: 40px;
}


@media screen and (max-width: 1250px){
    nav{
        max-width: 90vw;
    }
    .first-sec, .second-sec, .third-sec, .fourth-sec, .button{
        display: flex;
        height: auto;
        flex-direction: column;
        padding: 40px;
        flex-wrap: wrap;
    }

    .footer-item{
        display: grid;
        gap: 14px;
        grid-template-columns: 1fr 1fr;
     
    }
    .sec-txt-1{
        text-align: center;
    }
    .sec-txt-2{
        text-align: center;
    }

    .line1{
        font-weight: 700;
        font-size: 32px;   
    }
    .line2{
        padding: 23px;
        font-weight: 400;
        font-size: 18px;   
    }
    .line3{
        font-weight: 400;
        font-size: 18px;   
    }

}
@media screen and (max-width: 750px) {
    
    .line1 {
      font-size: 24px;
    }
    .line2 {
      font-size: 16px;
    }
    .line3 {
      font-size: 14px;
    }
    .button {
      padding: 10px 20px;
    }
    .mailbox {
      padding: 10px 50px;
    }
    .tv-img, .mob, .tv2-img, .child {
      width: 300px;
    }
    .tv-vid{
        top: 45px;
        left: 40px;
        width: 220px;

    }
    .tv2-vid {
        width: 193px;
        left: 55px;
        top: 20px;
    }

    .faqbox {
        font-size: 18px;
       
        padding: 15px;
        width: 70vw;
    }
    }
  
  